* {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Helvetica', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: url(images/background-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Navigation will be -40px up, so to make it equal with bottom, I had to put margin-top:40px*/
    margin-top: 40px; 

    width: 78%;
    height: 640px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    padding: 50px;
}

nav {
    /* I want navigation to be slightly up from main but always on top:
        position:absolute
        too:-40px
    */
    position:absolute;
    top: -40px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 10px 50px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    backdrop-filter: blur(10px);
}

nav .Logo {
    width: 170px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
}

nav .navlinks li {
    list-style: none;
    margin: 0 10px;
}

nav .navlinks li a {
    text-decoration: none;

    font-weight: 500;
    font-size: 15.5px;

    color: #006465;

    padding: 8px 15px;
}

nav .navlinks li a:hover, .active {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.shoppingcart {
    width: 25px;
    margin-left: 0;
    margin-right: 0;
}

.content {
    max-width: 550px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    
    border-radius: 20px;

    padding: 40px;
    padding-right: 55px;
    padding-left: 55px;
}

.content h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75em;

    margin-bottom: 40px;

    color: #006465;
}

.content p{
    font-family: Helvetica, sans-serif; 
    font-size: 1.05em;

    color: #006465;
}

.content a {
    display: inline-block;

    padding: 12px 24px;

    background: #fff;
    color: #006465;

    margin-top: 40px;
    border-radius: 30px;

    font-size: 1.05em;
    font-weight: 500;

    text-decoration: none;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content a:hover {
    background: #006465;
    color:#fff;

    transition: 0.6s;
}


.imgcan{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcan img {
    width: 500px;

    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    opacity: 100%;
}

.some{
    position: absolute;
    right: -22.5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.some li {
    list-style: none;
}

.some li a {
    text-decoration: none;

    width: 45px;
    height: 45px;

    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin: 5px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.some li a img{
    width: 25px;
    height: 25px;

    transform: scale(0.8);
    transition: 1s;
}

.some li:hover a img {
    transform: scale(0.8) rotate(360deg);
}

.products {
    position: absolute;
    top: 130px;
    display: flex;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
}

.card {
    position: relative;

    margin: 12px;

    width: 200px;
    height: 270px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    
    border-radius: 20px;

    overflow: hidden;
}

.card::before {
    content: "" ;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #006465;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg); 
}

.imgbx {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

.imgbx img {
    width: 150px;
    transition: 0.5s;
}

.card:hover .imgbx img {
    max-width: 50%;
    transform: rotate(-19deg);
}

.contentbx {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 15px;

    z-index: 1;
}

.contentbx h3 {
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    color:#006465;
}

.contentbx h2 {
    margin-top: 10px;

    top: 200px;
    opacity: 0;

    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;

    color:#006465;
}

.card:hover .contentbx h2, .card:hover .contentbx .buy {
    top: 0px;
    opacity: 1;
}

.contentbx .buy {
    margin-top: 8px;

    top: 200px;
    opacity: 0;

    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;

    background: #fff;
    color: #006465;

    border-radius: 30px;
    padding: 8px 20px;

    text-decoration: none;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    transition: 0.5s;
}

.contentbx .buy:hover {
    background: #006465;
    color: white;
}

.width1 {
    width: 100%;
    display: flex;

    position: absolute;
    top: 60px;
}

.filters {
    display: flex;
    margin-bottom: 10px;
}

.filters li {
    list-style: none;

    background: #fff;
    color:#006465;

    padding: 12px 24px;
    margin: 10px;

    border-radius: 30px;

    font-size: 1.05em;
    font-weight: 500;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.width1 ul li.active {
    background: #006465;
    color:#fff;
}

