* {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Helvetica', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: url(images/background-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 78%;
    min-height: calc(100vh - 280px);

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    padding: 50px;
}

nav {
    /* I want navigation to be slightly up from main but always on top --> position absolute*/
    position:absolute;
    top: -40px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 50px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    backdrop-filter: blur(10px);
}

nav img {
    width: 170px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;

    font-weight: 500;
    font-size: 15.5px;

    color: #006465;

    padding: 8px 15px;
}

nav ul li a:hover {
    background: #006465;
    color:#fff;
    border-radius: 20px;
}