* {
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Helvetica', sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background: url(images/bg.png);
    background-size: cover;
    background-position: center;
}

main {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Navigation will be -40px up, so to make it equal with bottom, I had to put margin-top:40px*/
    margin-top: 40px; 

    width: 78%;
    height: 600px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    padding: 50px;
}

nav {
    /* I want navigation to be slightly up from main but always on top:
        position:absolute
        too:-40px
    */
    position:absolute;
    top: -40px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content:space-between;
    align-items: center;

    padding: 10px 50px;
    
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

    border-radius: 20px;

    backdrop-filter: blur(10px);
}

nav .Logo {
    width: 170px;
}

.navlinks {
    float: right;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
}

nav .navlinks li {
    list-style: none;
    margin: 0 10px;
}

nav .navlinks li a {
    text-decoration: none;

    font-weight: 500;
    font-size: 15.5px;

    color: #006465;

    padding: 8px 15px;
}

nav .navlinks li a:hover, .active {
    background: #fff;

    border-radius: 20px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#nav-toggle {
    display: none;
}

nav .icon-burger {
    display: none;

    position: absolute;
    left: 5%;
    top: 20px;

    cursor: pointer;

    padding: 5px;
}

nav .icon-burger .line {
    width: 23px;
    height: 2px;

    background-color: #006465;

    margin: 6px;

    border-radius: 50px;
}

.shoppingcart {
    width: 25px;
    margin-left: 0;
    margin-right: 0;
}

.content {
    max-width: 550px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    
    border-radius: 20px;

    padding: 40px;
    padding-right: 55px;
    padding-left: 55px;
}

.content h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75em;

    margin-bottom: 40px;

    color: #006465;
}

.content p{
    font-family: Helvetica, sans-serif; 
    font-size: 1.05em;

    color: #006465;
}

.content a {
    display: inline-block;

    padding: 12px 24px;

    background: #fff;
    color: #006465;

    margin-top: 40px;
    border-radius: 30px;

    font-size: 1.05em;
    font-weight: 500;

    text-decoration: none;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content a:hover {
    background: #006465;
    color:#fff;

    transition: 0.6s;
}


.imgcan{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcan img {
    width: 500px;

    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    opacity: 100%;
}

.some{
    position: absolute;
    right: -22.5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.some li {
    list-style: none;
}

.some li a {
    text-decoration: none;

    width: 45px;
    height: 45px;

    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    margin: 5px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.some li a img{
    width: 25px;
    height: 25px;

    transform: scale(0.8);
    transition: 1s;
}

.some li:hover a img {
    transform: scale(0.8) rotate(360deg);
}

.products {
    position: absolute;
    top: 130px;
    display: flex;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    flex-wrap: wrap;
}

.card {
    position: relative;

    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;

    width: 200px;
    height: 270px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    
    border-radius: 20px;

    overflow: hidden;
}

.card::before {
    content: "" ;
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #006465;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg); 
}

.imgbx {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

.imgbx img {
    width: 150px;
    transition: 0.5s;
}

.card:hover .imgbx img {
    max-width: 50%;
    transform: rotate(-19deg);
}

.contentbx {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 15px;

    z-index: 1;
}

.contentbx h3 {
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    color:#006465;
}

.contentbx h2 {
    margin-top: 6px;

    top: 200px;
    opacity: 0;

    font-size: 16px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;

    color:#006465;
}

.card:hover .contentbx h2, .card:hover .contentbx .buy {
    top: 0px;
    opacity: 1;
}

.contentbx .buy {
    margin-top: 4px;

    top: 200px;
    opacity: 0;

    font-size: 15px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 500;

    background: #fff;
    color: #006465;

    border-radius: 30px;
    padding: 8px 20px;

    text-decoration: none;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    transition: 0.5s;
}

.contentbx .buy:hover {
    background: #006465;
    color: white;
}

.width1 {
    width: 100%;
    display: flex;

    position: absolute;
    top: 60px;
}

.filters {
    display: flex;
    margin-bottom: 10px;
}

.filters li {
    list-style: none;

    background: #fff;
    color:#006465;

    padding: 12px 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;

    border-radius: 30px;

    font-size: 1.05em;
    font-weight: 500;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.imgcan2 {
    display: none;
}

@media (max-width: 992px){
    .section {
        padding: 50px 10px 10px;
        height: 100vh;
    }

    main {   
        top: 15px;
        flex-direction: column;
        height: 85vh;
        padding: 20px;
    }

    .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 25px;
        margin-top: 30px;
        height: 360px;
        text-align: center;
    }

    .content h2 {
        font-size: 1.35em;
    }

    .content p {
        font-size: 1em;
    }

    .content a {
        font-size: 1em;
    }

    nav {
        justify-content: center;
        z-index: 1;
    }

    .shoppingcart{
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .navlinks {
        float: none;
        position: fixed;
        top: 0px;
        right: 200%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        transition: all 0.7s ease-in-out;
        overflow: hidden;
    }

    .navlogo {
        justify-content: center;
    }

    .shoppingcart {
        float: right;
    }

    nav .Logo {
        width: 140px;
    }

    .navlinks a {
        font-size: 60px;
    }

    nav .icon-burger {
        display: block;
    }

    #nav-toggle:checked ~ ul {
        right: 0;
    }

    .imgcan {
        display: none;
    }

    .imgcan2 {
        display: block;
    }

    .imgcan2 img {
       width: 350px;
    }

    .some{
        position: relative;
        flex-direction: row;
        left: 0;
    }
    
    .some li a {
        margin: 35px 10px;
    }

    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(8.25px) rotate(225deg);
    }

    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
    }

    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-8.25px) rotate(-225deg);
    }
    
}

@media (max-width: 375px){
    main {
        top: 10px;
    }
    
    .content {
        height: 280px ;
    }
    .imgcan2 img {
        width: 300px;
    }

    .some li a {
        margin: 15px 10px;
    }
}

@media (max-width: 320px){
    .section {
    height: 105vh;
    }

    .content {
        padding: 10px;
    }
    
    .imgcan2 img {
        margin-top: 12px;
        width: 250px;
    }

    .some li a {
        margin: 0px 10px;
    }
}

@media (min-width: 600px){
    .imgcan2 img {
        width: 500px;
    }
}

@media (min-width: 700px){
    .content {
        margin-top: 90px;
        width: 500px;
        padding: 25px;
        height: 250px;
    }

    .content h2 {
        font-size: 1.5em;
    }
    
    .content p {
        font-size: 1.05em;
    }
}
 